@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Heebo', sans-serif;
  letter-spacing: -1.5px;
}
.perinfo{
  line-height: 0.9;
  margin: auto;
  padding: 35px;
  background: linear-gradient(to bottom, white, #fcfdff);
}
nav{
  background-image: linear-gradient(to bottom, #274CB5, #002CA8 85%);
  height: 35px;
  padding: none;
  width: 100%;
}
nav ul li{
  display: inline-block;
  margin: 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  position: relative;
  top: 4px;
  font-size: 22px;
  font-weight: 600;
}
nav ul li a:hover{
  background: linear-gradient(to bottom, #002CA8, #00289A);
  transition: all .6s ease;
  color: #FFEE08;
  text-decoration: underline;
  letter-spacing: 2px;
}
body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #0045b3, #003a96);
  background-image: url('BG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#profLabel, #objLabel, #educLabel, #skillsLabel, #refLabel{
  font-weight: 800;
  font-style: normal;
  font-size: 33.5px;
  color: #002d75;
}
.objective{
  font-size: 28px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.4;
  color: #0043ad;
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 800px) {
  *{
    letter-spacing: -0.25px;
  }
  #name{
    font-size: 50px;
  }
  #job{
    font-size: 20px;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .special{
    padding: none;
  }
  .perinfo{
    padding: 18px;
  }
  #profLabel, #objLabel, #educLabel, #skillsLabel, #refLabel{
    font-size: 26px;
  }
  .infoPer{
    font-size: 19px;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }
  .objective{
    font-size: 19.25px;
  }
  #dates, #awards, #senHigh, #junHigh, #elem, #educLevel{
    font-size: 18px;
    letter-spacing: -0.5px;
    grid-template-columns: 0.2fr 1.8fr;
  }
  .techSoftSkills{
    font-size: 18.75px;
    grid-template-columns: 1.2fr 0.8fr;
    column-gap: 8px;
  }
  .charRef{
    font-size: 19px;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }
}
tab1{
  padding-left: 2.5em;
}
hr{
  border-top: 5px dashed #002d75;
}
.special{
  padding: 30px;
}
#credits{
  color: #0043ad;
  letter-spacing: 0.25px;
  display: inline-block;
}
